<?xml version="1.0" encoding="UTF-8" ?>

<suite name="FSTTests" thread-count="4" parallel="classes"> <!-- Test Suite -->
    <groups> <!-- Groups Control -->
       
    </groups>
    <test name="FSTActivities"> <!-- Test Classes -->
        <classes>
            <class name="activities.Activity5" />
            <class name="activities.DemoOne" />
            <class name="activities.DemoTwo" />
        </classes>
    </test>
</suite>

